%h1
  Mensagem criada com sucesso!

%br
= @message.body
%br
Link:
%a(href="http://localhost:9393/#{@message.uuid}?secret=#{@message.secret}")
  http://localhost:9393/#{@message.uuid}?secret=#{@message.secret}

%br
%a(href="/")
  Voltar
